/*********************************************************/
/** STYLE CSS FOR SHARIN ***/
/** Last change : 29/06/2016 */
/**  by Dorine Niel ****/
/*********************************************************/

.root{
    -fx-font-family: "Calibri";
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-text-alignment: center;

}

.label {
    -fx-font-family: "Calibri";
}

.labelOrange {
    -fx-font-color: #f3872b;
    -fx-font-size: 10pt;
    -fx-border-color: #e1e5cd;
}

.labelBlue {
    -fx-font-color: #68d3e8;
    -fx-font-size: 10pt;
    -fx-border-color: #e1e5cd;
}

/*
.label-bright {
    -fx-font-size: 20pt;
    -fx-font-family: "Calibri";
}
.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Calibri";
}*/

.table-view {
    /*-fx-base: #1d1d1d;*/
    -fx-control-inner-background: orange;
    /*-fx-background-color: #1d1d1d;*/
    -fx-table-cell-border-color: black;
    -fx-table-header-border-color: black;
    -fx-padding: 5;
    -fx-font-color: black;
}

.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Calibri";
    /* -fx-text-fill: black;*/
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view .table-row-cell .column {
    -fx-font-color: black;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

/*.menu .left-container {
    -fx-background-color: black;
}*/

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Calibri";
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 2;
    -fx-background-radius: 4;
    -fx-font-family: "Calibri", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-font-color: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

button:hover{
    -fx-opacity: 0.5;
}
/*
.button:pressed, .button:default:hover:pressed {
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-text-fill: white;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}*/

.buttonBlue {
    -fx-background-color: #68d3e8;
    -fx-font-color: white;
}

.buttonOrange {
    -fx-background-color: #f3872b;
    -fx-font-color: white;
}

.btnHome, .btnProject, .btnCalendar, .btnTask, .btnTchat, btnDoc, btnPlugin, btnAccount {
    -fx-text-alignement: center;
    -fx-end-margin: 50;
}

.btnHome {
    -fx-background-color: #44C2D9;
}
.btnProject {
    -fx-background-color:  #69d3e8;
}

.btnCalendar {
    -fx-background-color: #a9dcd9;
}

.btnTask {
    -fx-background-color: #e1e5cd;
}

.btnTchat {
    -fx-background-color: #F2D280;
}

.btnDoc {
    -fx-background-color: #FFB800;
}

.btnPlugin {
    -fx-background-color: #f3872c;
}

.btnAccount {
    -fx-background-color: #fa6900;
}

.postitPane {
    -fx-background-color : yellow;
    -fx-border-color: #95a5a6;
}

.postitLabel {
    -fx-background-color : transparent;
}



/********************
 PLANNING GANTT *
********************/

.root {
    -inner-header-color: rgb(246, 246, 246);
    -outer-header-color: rgb(221, 221, 221);
}
.planning-scroll {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.planning-scroll:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.planning-cell {
    -fx-background-color: -inner-header-color;
    -fx-background-insets: 0;
    -fx-border-color: -outer-header-color;
    -fx-border-width: 0.75;
    -fx-padding: 1;
}
.strong-cell {
    -fx-font-weight: bold;
}
.first-cell {
    -fx-background-color: -inner-header-color;
    -fx-background-insets: 0;
    -fx-border-color:  -outer-header-color transparent -outer-header-color -outer-header-color;
}
.last-cell {
    -fx-background-color: -inner-header-color;
    -fx-background-insets: 0;
    -fx-border-color: -outer-header-color -outer-header-color -outer-header-color transparent;
}
.taskRec {
    -fx-background-color: BLACK;
    -fx-color: BLACK;
}
.taskPane{
    -fx-min-height: 40 ;
    -fx-min-width: 40 ;
}

.textAreaTransparentFinish .content{
    -fx-background-color: #77DD77;
}

.textAreaTransparentProcess .content{
    -fx-background-color: #FFB347;
}

.textAreaTransparentToDo .content{
    -fx-background-color: #C72C48;
}



.root {
    -inner-header-color: rgb(246, 246, 246);
    -outer-header-color: rgb(221, 221, 221);
}
.planning-scroll {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.planning-scroll:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.planning-cell {
    -fx-background-color: -inner-header-color;
    -fx-background-insets: 0;
    -fx-border-color: -outer-header-color;
    -fx-border-width: 0.75;
    -fx-padding: 0;
}

.planning-cell .content{
    -fx-background-color: transparent;
}

.strong-cell {
    -fx-font-weight: bold;
}
.first-cell {
    -fx-background-color: -inner-header-color;
    -fx-background-insets: 0;
    -fx-border-color:  -outer-header-color transparent -outer-header-color -outer-header-color;
}
.last-cell {
    -fx-background-color: -inner-header-color;
    -fx-background-insets: 0;
    -fx-border-color: -outer-header-color -outer-header-color -outer-header-color transparent;
}
/*
.taskRec {
    -fx-background-color: #f3872b;
    -fx-color: #f3872b;
}*/

.gridpane {
    -fx-padding : 0;
}

.gridpane > * {
    -fx-min-height: 30 ;
    -fx-min-width: 30 ;
}